body{
    background-color: rgb(34, 41, 138);
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(78, 2, 2);
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: rgb(100, 6, 109);
}

#poster2{
    background-color: rgb(141, 19, 19);
}

#poster3{
    background-color: rgb(255, 255, 255);
}